body{
margin:0;
background:url("bg.jpeg");
background-size:cover;
font-family:Playwrite;
color:white;
overflow:hidden;
}

/* AUTH */
#authScreen{
position:fixed;
width:100%;
height:100%;
background:linear-gradient(135deg,purple,black);
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}

.authBox{
background:rgba(0,0,0,0.7);
padding:30px;
border-radius:15px;
text-align:center;
}

.authBox input{
display:block;
margin:10px auto;
padding:10px;
border-radius:8px;
border:none;
}

/* UI */
#counter{text-align:center;font-size:40px;margin-top:20px;}
#userDisplay{text-align:center;}
#stats{text-align:center;}

#colon3{
display:block;
margin:40px auto;
width:200px;
cursor:pointer;
animation:spin 4s linear infinite;
}

@keyframes spin{
from{transform:rotate(0);}
to{transform:rotate(360deg);}
}

/* SHOP */
#shop{
position:fixed;
right:0;
top:0;
width:250px;
height:100%;
background:purple;
overflow:auto;
}

.item{
padding:10px;
border-bottom:1px solid rgba(255,255,255,0.3);
cursor:pointer;
}

/* MENU */
#menuBtn,#leaderBtn{
position:fixed;
top:10px;
background:purple;
border:none;
color:white;
padding:10px;
cursor:pointer;
}
#leaderBtn{left:60px;}

#dropdown{
position:fixed;
top:50px;
left:10px;
width:260px;
background:linear-gradient(#4b0082,#800080);
padding:10px;
border-radius:12px;
display:none;
}

.divider{text-align:center;opacity:0.5;}
.ach.locked{opacity:0.5;font-style:italic;}

#leaderboard{
position:fixed;
top:50px;
left:60px;
width:260px;
background:linear-gradient(#4b0082,#800080);
padding:10px;
border-radius:12px;
display:none;
}

/* BOTTOM */
#bottomBar{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-between;
padding:10px;
}

#hateBtn{
background:linear-gradient(45deg,purple,magenta);
border:none;
padding:10px;
border-radius:10px;
color:white;
cursor:pointer;
}

video{
position:fixed;
width:100%;
height:100%;
display:none;
object-fit:cover;
z-index:999;
}
